@import '../../styles/consts.scss';

.donemoneybox__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donemoneybox__title {
  @include h3-web;
  margin-top: 24px;
}

.donemoneybox__image {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}
