.uploader {
  display: flex;
  align-items: center;
  gap: 32px;
}

.button-download {
  background-image: url(../../Images/avataruploader.svg);
  width: 50px;
  height: 50px;
}

.uploaded-avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
