@import '../../styles/consts.scss';

.user-finance-select {
  position: absolute;
  top: 111px;
  left: 0;
  z-index: 1;
  width: 376px;
  background: $clearWhite;
  border: 1px solid $lightGrey;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;

  &__title {
    @include text-medium-web;
    margin-bottom: 11px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $midGrey;
  }

  // extraClass
  &__button {
    margin-top: 24px;
    width: 100%;
    justify-content: center;
  }
}
