@import '../../styles/consts.scss';
@import '../../styles/colors.scss';

.plug {
  display: grid;
  gap: 8px;
}

.plug-icon {
  justify-self: center;
}

.plug-subtitle {
  @include text-small-web;
  color: $grey;
}
