@import '../../styles/consts.scss';

.button-select {
  @include text-medium-web;
  position: relative;
  display: flex;
  padding: 16px 20px;
  margin: 8px 8px 0 0;
  width: 100%;
  min-height: 60px;
  border: 1px solid $midGrey;
  border-radius: 100px;
  color: $black;

  &--open {
    .button-select__arrow {
      transform: rotate(90deg);
    }
  }
}

.button-select__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.button-select__arrow {
  position: absolute;
  left: calc(100% - 38px);
  width: 24px;
  height: 24px;
  background: url('../../Images/chevron-down.svg') no-repeat center / contain;
  transform: rotate(-90deg);
}
