.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10rem;
  background: linear-gradient(to right, #303360, #4a36c600);
  animation: animate 1.5s linear infinite;
}

.loader::before {
  position: absolute;
  content: '';
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 10rem;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .loader {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

// .loader-circle {
//   width: 70px;
//   height: 70px;
//   border-radius: 50%;
//   position: relative;
//   animation: spin 2s infinite linear;
//   background: conic-gradient(
//     from 180deg at 50% 50%,
//     #303360 0deg,
//     rgba(74, 54, 198, 0) 360deg,
//     #ebf2f8 360deg
//   );
//   background-clip: padding-box;
// }

// .loader-circle::after {
//   content: '';
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   width: calc(100% - 20px);
//   height: calc(100% - 20px);
//   border-radius: 50%;
//   background: #fff;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
