@import '../../styles/consts.scss';

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10rem;
  background: linear-gradient(to right, $heavyBlue, $lightBlue);
  animation: animate 1.5s linear infinite;
}

.loader::before {
  position: absolute;
  content: '';
  background: $clearWhite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 10rem;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-register {
  margin-right: 75px;
}

.loader-login {
  margin: 0 calc((100% - 60px) / 2);
}

.loader-avatar {
  margin: 32px calc((100% - 60px) / 2) 0;
}
