@import '../../styles/consts.scss';
@import '../../styles/colors.scss';

.account {
  position: relative;
  padding: 21px 24px 33px 24px;
  width: 100%;
  height: 128px;
  background-color: $blueishGrey;
  border-radius: 20px;
  display: grid;
  gap: 16px;
}

.account__title {
  @include h3-web;
  color: $black;
  display: flex;
  align-items: center;
}

.account__title::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url('../../Images/rub.svg') no-repeat center / contain;
  width: 28px;
  height: 28px;
}

.account__selected-content {
  position: relative;
}

.account__selected {
  @include text-medium-web;
  display: flex;
  align-items: center;
}

.account__arrow {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background: url('../../Images/dropdawn.svg') no-repeat center / contain;
  transform: rotate(0deg);
}

.account__selected--open .account__arrow {
  transform: rotate(180deg);
}
