@import '../../styles/consts.scss';
@import '../../styles/colors.scss';

.profile-page {
  position: relative;
  background: $lightGrey url('../../Images/profile-background.svg') no-repeat center bottom;
  display: flex;
  flex-grow: 1;
  padding: 70px 160px 0 160px;
}

.profile-settings {
  z-index: 2;
  background-color: $clearWhite;
  max-width: 784px;
  height: fit-content;
  padding: 40px;
  border-radius: 16px;
}

.profile-settings__title {
  @include h2-web;
  margin-bottom: 24px;
}

.profile-settings__avatar-block {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 24px;
}

.profile-settings__avatar {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.profile__error-message {
  @include text-small-web;
  color: $alertRed;
  position: absolute;
  display: flex;
  align-items: center;
  top: 50px;
  left: 22%;
  height: 28px;
  background: url(../../Images/alert-triangle.svg) no-repeat top 50% left 8px / 25px;
  padding-left: 36px;
}

// extraClass
.button__change-password {
  height: 44px;
  margin-top: 39px;
}
