$black: #1e1d24;
$clearWhite: #ffffff;
$grey: #8c8d90;
$lightGrey: #f4f4f4;
$midGrey: #d2d5db;
$alertRed: #f05a2b;
$heavyBlue: #13164a;
$blueHover: #4a4e92;
$bluePressed: #393f97;
$lightBlue: #ebf2f8;
$blueishGrey: #eaebf5;
$blueishGreyHover: #dcdefb;
$blueishGreyPressed: #babeff;
$spendRed: #ff6f6f;
$incomeGreen: #6fdd8e;
$speedRed: #ed8a8a;
$speedGreen: #bfffe0;
$speedYellow: #fff27d;
