// Button primary
$color-primary: #f0b216;
$color-primary-hover: #f9c136;
$color-primary-pressed: #f0b216;

$bg-color-primary: #303360;
$bg-color-primary-hover: #4a4e92;
$bg-color-primary-pressed: #393f97;

// Button secondary
$color-secondary: #303360;
$color-secondary-hover: #4a4e92;
$color-secondary-pressed: #303360;

$bg-color-secondary: #eaebf5;
$bg-color-secondary-hover: #dcdefb;
$bg-color-secondary-pressed: #babeff;

// Button fiat
$color-fiat: #303360;
$color-fiat-hover: #4a4e92;
$color-fiat-pressed: #303360;

$bg-color-fiat: #fff;
$bg-color-fiat-hover: #fff;
$bg-color-fiat-pressed: #f4f4f4;