@import '../styles/consts.scss';

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.form_add-operation {
  gap: 13px;
}

.form_confirmation {
  gap: 24px;

  .form__text_confirmation {
    @include text-large-web;
  }
}

.form_profile {
  gap: 32px 67px;
}

.form__input-block {
  position: relative;
  display: flex;
  max-width: calc((100% - 96px) / 2);
  width: 100%;
}

.form__input-label {
  @include text-small-web;
  color: #1e1d24;
  width: 100%;
  display: block;
  position: relative;
}

.form__input-label_divider::after {
  content: '';
  display: block;
  width: 1px;
  height: 24px;
  background-color: #bdbdbd;
  position: absolute;
  top: 46px;
  right: 46px;
}

.form__input {
  @include text-medium-web;
  padding: 16px 20px;
  margin: 8px 8px 0 0;
  width: 100%;
  border: 1px solid #d2d5db;
  border-radius: 100px;
  color: #1e1d24;

  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    display: none;
  }

  &[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    background-image: url(../Images/calendar.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
  }
}

.form__input.error {
  border-color: #f05a2b;
}

.form__input:focus {
  outline: none;
}

.form__input_password-new {
  width: 400px;
}

.form__input_sum {
  background-image: url(../Images/rub.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: calc(100% - 18px);
  background-position-y: center;
}

.tooltip {
  width: 24px;
  height: 24px;
  background-image: url(../Images/help.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 44px;
}

.tooltip-change-password {
  left: calc(100% - 22px);
}

.tooltip-profile-page {
  left: 313px;
}

.tooltip-registration {
  left: 313px;
}

.form__input-block .react-tooltip {
  @include text-small-web;
  background-color: #303360;
  padding: 16px 16px;
  max-width: 340px;
  border-radius: 8px;
  z-index: 4;
  opacity: 1;
}

.form__button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button-wrapper-register {
  display: flex;
  align-items: center;
}

.form__button-wrapper_single {
  margin-top: 8px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.form__button-wrapper-login {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__button-wrapper_password-new {
  margin-top: 8px;
}

.form__button-wrapper_add-operation {
  margin-top: 18px;
}

.form__button-wrapper_account {
  margin-top: 24px;
}

.form__text_confirm-register {
  @include text-small-web;
}

.form__text {
  @include text-medium-web;
}

.form__text-bold {
  @include text-medium-web-bold;
}

// ExtraClass

.form__button_single {
  width: 100%;
}

// выпадающий список

.form__input_select {
  appearance: none;
  background-image: url(../Images/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: calc(100% - 16px);
  background-position-y: center;
}

.form__input_option {
  color: #828282;
}

.form__input_option[selected] {
  color: #333333;
}

// конверт

.form__input-label_textarea {
  max-width: 100%;
}

.form__input_textarea {
  resize: vertical;
  appearance: none;
  background-image: url(../Images/drag-area.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 4px) calc(100% - 4px);
  z-index: 2;
  min-height: 60px;
  border-radius: 16px;
}

.form__input_textarea::-webkit-scrollbar,
.form__input_textarea::-webkit-resizer {
  display: none;
}

// сообщения об ошибках ввода

.form__valid-message {
  @include text-small-web;
  display: flex;
  align-items: center;
  background-image: url(../Images/alert-triangle.svg);
  background-position: top 50% left 8px;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #f05a2b;
  opacity: 0;
  left: 9px;
  text-align: left;
  padding-left: 36px;
  padding-right: 8px;
  top: 90px;
  position: absolute;
  border: 0;
  transition: 0.3s;
  margin: 0;
}

.form__valid-message_active {
  opacity: 1;
}

// чекбокс

.form__checkbox-label {
  margin-top: 8px;
  cursor: pointer;
  padding-left: 34px;
  position: relative;
}

.form__checkbox {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0px;
  appearance: none;
  width: 18px;
  height: 18px;
}

.form__checkbox:hover {
  opacity: 0.5;
}

.form__checkbox::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block;
  border: 2px solid #303360;
  border-radius: 6px;
}

.form__checkbox:checked::after {
  content: '';
  background-image: url(../Images/Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px auto;
}

.form__checkbox:checked {
  opacity: 1;
}

// lib style

.form__password-reliability-block {
  width: 100%;
  display: flex;
}

.form__password-reliability {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}

.form__password-reliability_ok {
  background-color: #6fdd8e;
}
