@import '../styles/consts.scss';

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.form_add-operation {
  gap: 13px;
}

.form_confirmation {
  gap: 32px;

  .form__text_confirmation {
    @include text-large-web;
  }
}

.form_profile {
  gap: 32px 67px;
}

.form__input-block {
  position: relative;
  display: flex;
  max-width: calc((100% - 96px) / 2);
  width: 100%;
}

.form__input-label {
  @include text-small-web;
  color: $black;
  width: 100%;
  display: block;
  position: relative;
}

.form__input-label_divider::after {
  content: '';
  display: block;
  width: 1px;
  height: 24px;
  background-color: $midGrey;
  position: absolute;
  top: 46px;
  right: 46px;
}

.form__input {
  @include text-medium-web;
  padding: 16px 20px;
  margin: 8px 8px 0 0;
  width: 100%;
  border: 1px solid $midGrey;
  border-radius: 100px;
  color: $black;

  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    display: none;
  }

  &[type='date']::-webkit-calendar-picker-indicator {
    display: inline-block;
    background: url(../Images/calendar.svg) center / 20px no-repeat;
    vertical-align: middle;
    cursor: pointer;
  }
}

.form__input-small {
  width: 200px;
}

.form__input_textarea {
  resize: vertical;
  appearance: none;
  background: url(../Images/drag-area.svg) no-repeat calc(100% - 4px) calc(100% - 4px) / 20px;
  min-height: 60px;
  border-radius: 16px;
}

.form__input.error {
  border-color: $alertRed;
}

.form__input_password-new {
  width: 400px;
}

.form__input_sum {
  background: url(../Images/rub.svg) calc(100% - 18px) center/20px no-repeat;
}

.tooltip {
  background: url(../Images/help.svg) no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 44px;
}

.tooltip-change-password {
  left: calc(100% - 22px);
}

.tooltip-profile-page {
  left: 313px;
}

.tooltip-registration {
  left: 313px;
}

.form__input-block .react-tooltip {
  @include text-small-web;
  background-color: $heavyBlue;
  padding: 16px 16px;
  max-width: 340px;
  border-radius: 8px;
  z-index: 4;
  opacity: 1;
}

.form__button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button-wrapper-register {
  display: flex;
  align-items: center;
}

.form__button-wrapper_single {
  margin-top: 8px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.form__button-wrapper-login {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__button-wrapper_password-new {
  margin-top: 8px;
}

.form__button-wrapper_add-operation {
  margin-top: 18px;
}

.form__button-wrapper_account {
  margin-top: 24px;
}

.form__text_confirm-register {
  @include text-small-web;
}

.form__text {
  @include text-medium-web;
}

// выпадающий список

.form__input_select {
  position: relative;
  display: flex;

  &--open {
    .form__input_select__arrow {
      transform: rotate(90deg);
    }
  }
}

.form__input_select__arrow {
  position: absolute;
  left: calc(100% - 38px);
  width: 24px;
  height: 24px;
  background: url('../Images/chevron-down.svg') no-repeat center / contain;
  transform: rotate(-90deg);
}

.form__input_select__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

// сообщения об ошибках ввода

.form__valid-message {
  @include text-small-web;
  display: flex;
  align-items: center;
  background: url(../Images/alert-triangle.svg) left 8px top 50% / 20px no-repeat;
  color: $alertRed;
  opacity: 0;
  left: 9px;
  text-align: left;
  padding-left: 36px;
  padding-right: 8px;
  top: 90px;
  position: absolute;
  border: 0;
  transition: 0.3s;
  margin: 0;
}

.form__valid-message_active {
  opacity: 1;
}

// чекбокс

.form__checkbox-label {
  margin-top: 8px;
  cursor: pointer;
  padding-left: 34px;
  position: relative;
}

.form__checkbox {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0px;
  appearance: none;
  width: 18px;
  height: 18px;
}

.form__checkbox:hover {
  opacity: 0.5;
}

.form__checkbox::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: $clearWhite;
  display: inline-block;
  border: 2px solid $heavyBlue;
  border-radius: 6px;
}

.form__checkbox:checked::after {
  content: '';
  background: url(../Images/check.svg) center/14px auto no-repeat;
}

.form__checkbox:checked {
  opacity: 1;
}
