@import '../vendor/normalize.css';
@import '../vendor/fonts/fonts.css';

@import 'colors';
@import './consts.scss';
@import './form.scss';
@import './react-datepicker.scss';


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'NotoSans', sans-serif;
  max-width: 1920px;
  min-width: 320px;
  // background-color: #f4f4f4;
  background-color: $bg-color-fiat-pressed;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.5s linear;
}

p,
h1,
h2,
h3 {
  margin: 0;
}