@import '../../styles/consts.scss';

.spending-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.spending-list__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.spending-list__header,
.spending-list__text {
  width: 100%;
  color: #1e1d24;
}

.spending-list__header {
  @include text-medium-web;
  margin-bottom: 2px;
}

.spending-list__text {
  @include text-small-web;
}
