@import '../../styles/consts.scss';

.select {
  position: absolute;
  top: -64px;
  left: 444px;
  z-index: 1;
  width: 376px;
  background: $clearWhite;
  border: 1px solid $lightGrey;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
