@import '../../styles/consts.scss';

.repeat-expenses {
  display: flex;

  &__text {
    @include text-medium-web;
    display: flex;
    align-items: center;
  }

  &__text-bold {
    @include text-medium-web-bold;
    margin-top: 16px;
    margin-bottom: 12px;
  }

  &__tab {
    width: 100%;
    background: $lightGrey;
    border-radius: 16px;
    display: flex;
    padding: 4px;
    gap: 8px;
  }

  &__activeTab {
    width: 100%;
  }

  &__input-count {
    border: 1px solid $midGrey;
    border-radius: 4px;
    width: 42px;
    height: 32px;
    text-align: center;
    margin: 0 10px 0 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
