@import '../../styles/consts.scss';

.repeat-expenses__text {
  @include text-medium-web;
  display: flex;
  align-items: center;
}
.repeat-expenses__text-bold {
  @include text-medium-web-bold;
  margin-top: 16px;
  margin-bottom: 12px;
}

.repeat-expenses__tab {
  width: 100%;
  background: $lightGrey;
  border-radius: 16px;
  display: flex;
  padding: 4px;
  gap: 8px;
}

.repeat-expenses__activeTab {
  width: 100%;
}

.repeat-expenses__input-count {
  border: 1px solid $midGrey;
  border-radius: 4px;
  width: 42px;
  height: 32px;
  text-align: center;
  margin: 0 10px 0 32px;
}

.repeat-expenses__container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .form__input-block {
    margin-top: 4px;
  }

  .form__input-label {
    display: flex;
    flex-direction: column;
  }

  .form__input {
    max-width: 280px;
  }
}
