@import '../../styles/consts.scss';
@import '../../styles/colors.scss';

.card-question {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid $color-border-light;
  justify-content: space-between;

  &:last-child {
    margin: 0;
  }

  &__question-text {
    @include h3-web;
    color: #1e1d24;
  }

  &__answer-text {
    @include text-large-web;
    margin-top: 20px;
  }
}
