@import '../../styles/consts.scss';

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.radio__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  & ~ .radio__circle {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $heavyBlue;
    vertical-align: middle;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $heavyBlue;
      transition: all 0.2s ease-in-out;
    }
  }

  &:checked ~ .radio__circle:before {
    transform: translate(-50%, -50%) scale(1);
  }

  &:disabled ~ .radio__circle {
    border-color: $midGrey;
    background-color: $lightGrey;
    cursor: not-allowed;

    &:before {
      background-color: $midGrey;
    }
  }
}

.radio__icon {
  max-width: 24px;
  height: auto;
  object-fit: cover;
}

.radio__text {
  @include text-medium-web;
}
