@import '../../styles/consts.scss';

.repeatSpend-item {
  padding: 8px;

  &:hover {
    background-color: $blueishGreyHover;
    border-radius: 12px;
  }

  &__content {
    @include text-medium-web;
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 100%;

    > :first-child {
      flex-grow: 1;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  &__target {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    flex-shrink: 0;

    &::after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('../../Images/rub.svg');
      background-size: cover;
    }
  }
}