@import '../../styles/consts.scss';

.template {
  padding: 12px;
  background: #ffffff;
  border-radius: 16px;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.template__title {
  @include text-large-web-bold;
}
