@import '../../styles/consts.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 160px;
  justify-self: start;
}

.logo__image {
}

.logo__title {
  font-family: $ubuntu-font;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  color: #13164a;
}
