@import '../../styles/consts.scss';

.statistic-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: $lightGrey;
  border-radius: 16px;
  height: fit-content;
}

.statistic-filter__wrapper {
  display: flex;
  gap: 12px;
}

.statistic-filter__select {
  position: relative;
}

.statistic-filter__select-button {
  @include text-small-web;
  border: 1px solid $heavyBlue;
  color: $black;
  border-radius: 50px;
  padding: 4px 36px 4px 16px;
  background: url(../../Images/chevron-down.svg) no-repeat right 11px center / 20px;
  transition: 0.2s ease-in;
}

.statistic-filter__select-button--open {
  background-color: $heavyBlue;
  color: $clearWhite;
  background-image: url(../../Images/chevron-up.svg);
}

.statistic-filter__date-button {
  @include text-small-web;
  color: $black;
  border: 1px solid $heavyBlue;
  border-radius: 50px;
  padding: 4px 16px;
  position: relative;
}

.statistic-filter__date-button--open {
  background-color: #13164a;
  color: #ffbb10;
}

.statistic-filter__button-wrapper {
  display: flex;
  gap: 32px;
}
.statistic-filter__button-wrapper--open {
  background-color: $heavyBlue;
  color: $clearWhite;
}

.statistic-filter__calendar-block {
  position: relative;
}

.statistic-filter__calendar-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 376px;
  background: #ffffff;
  border-radius: 16px;
}
