@import '../../styles/consts.scss';
@import '../../styles/colors.scss';

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background: $clearWhite;
  border-radius: 20px;
}

.categories__title {
  @include h3-web;
}

.categories-button {
  justify-content: center;
}
