@import '../../styles/consts.scss';

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background: #ffffff;
  border-radius: 20px;
}

.categories__title {
  @include h3-web;
  color: #1e1d24;
}

.categories__tabs {
  max-width: 328px;
  background: #f4f4f4;
  border-radius: 16px;
  display: flex;
  padding: 4px;
  gap: 8px;
}

.categories__button {
  justify-content: center;
}
