@import '../../styles/consts.scss';

.home-page {
  position: relative;
  background: $clearWhite url('../../Images/home-background.svg') no-repeat center bottom;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 160px;

  &__container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 920px;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    @include h1-web-main;
    text-align: center;
  }

  &__subtitle {
    @include h2-web-main;
    margin-top: 80px;
    text-align: center;
  }

  &__text-bold {
    @include h1-web;
  }

  &__description {
    @include h2-web;
  }

  &__lists-advantages {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 60px 0 80px 0;
  }

  &__container-how-works {
    background: $blueishGrey;
    display: flex;
    padding: 0 160px 60px;
    flex-direction: column;
  }

  &__lists-how-works {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
  }

  &__container-fqa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: transparent;
    border-radius: 16px;
    max-width: 1056px;
    padding: 100px 0 100px 160px;
    margin-bottom: 347px;
  }

  &__text-start {
    text-align: start;
  }
}
