@import '../../styles/consts.scss';

.home-page {
  position: relative;
  background: $lightGrey url('../../Images/profile-background.svg') no-repeat center bottom;
  display: flex;
  flex-grow: 1;
  padding: 160px 160px 0 160px;
}
