@import '../../styles/consts.scss';

.home-page {
  position: relative;
  background: $clearWhite url('../../Images/home-background.svg') no-repeat center bottom;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 160px;

  &__container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    @include h1-main;
    text-align: center;
    margin-bottom: 40px;
  }

  &__subtitle {
    @include h2-main;
    text-align: center;
  }

  &__text-bold {
    @include h1-web;
  }

  &__image {
    margin: 80px 90px 120px 90px;
    width: 1740.42px;
    height: 888px;
  }

  &__description {
    @include h3-main;
    margin-bottom: 60px;
    text-align: center;
    max-width: 592px;
  }

  &__lists-advantages {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 213.33px;
    margin: 60px 160px;
  }

  &__container-how-works {
    background: $blueishGrey;
    display: flex;
    padding: 60px 160px 60px 152px;
    flex-direction: column;
  }

  &__lists-how-works {
    display: flex;
    flex-direction: column;
    gap: 44.5px;
    margin-top: 54px;
  }

  &__container-fqa {
    display: flex;
    flex-direction: column;
    background: transparent;
    max-width: 1056px;
    margin: 100px 0 0 160px;
    margin-bottom: 518px;
  }

  &__fqa-list {
    margin: 60px 0 105px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .card-question {
      padding: 12px 0;
    }

    .button {
      align-self: flex-start;
    }
  }

  &__button {
    margin-top: 32px;
    max-width: 240px;
  }

  .footer-absolute {
    padding-left: 160px;
  }
}
