@import '../../styles/colors.scss';

.footer {
  background: $blueishGrey;
  display: flex;
  gap: 168px;
  align-items: center;
  flex-shrink: 0;
  padding: 38px 160px 38px 160px;
}

.footer-absolute {
  background: none;
  position: absolute;
  padding: 0;
  bottom: 40px;
}
