.footer {
  background: #eaebf5;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 100px;
  height: 238px;
  padding: 56px 160px;
}

.footer__column-first {
  max-width: 512px;
}

.footer__column-second {
  padding: 24px;
  max-width: 377px;
}

.footer__column-first,
.footer__column-second {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: black;
}

.footer__copyrights {
  font-family: 'NotoSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer__text,
.footer__email {
  font-family: 'NotoSans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.footer__email {
  display: flex;
  align-items: center;
  gap: 8px;
}
