@import '../../styles/consts.scss';

// Button primary
$color-primary: $clearWhite;
$color-primary-hover: $clearWhite;
$color-primary-pressed: $clearWhite;

$bg-color-primary: $heavyBlue;
$bg-color-primary-hover: $blueHover;
$bg-color-primary-pressed: $bluePressed;

// Button secondary
$color-secondary: $heavyBlue;
$color-secondary-hover: $blueHover;
$color-secondary-pressed: $heavyBlue;

$bg-color-secondary: $blueishGrey;
$bg-color-secondary-hover: $blueishGreyHover;
$bg-color-secondary-pressed: $blueishGreyPressed;

// Button fiat
$color-fiat: $heavyBlue;
$color-fiat-hover: $blueHover;
$color-fiat-pressed: $heavyBlue;

$bg-color-fiat: $clearWhite;
$bg-color-fiat-hover: $clearWhite;
$bg-color-fiat-pressed: $lightGrey;

.button {
  // Common button styles
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid;

  &.rounded {
    // Styles for rounded button
    width: fit-content;
  }

  &.primary {
    // Styles for primary style
    color: $color-primary;
    background-color: $bg-color-primary;
    border-color: $bg-color-primary;

    &:hover {
      color: $color-primary-hover;
      background-color: $bg-color-primary-hover;
      border-color: $bg-color-primary-hover;
    }

    &:focus {
      color: $color-primary-pressed;
      background-color: $bg-color-primary-pressed;
      border-color: $bg-color-primary-pressed;
    }

    &:active {
      color: $color-primary-pressed;
      background-color: $bg-color-primary-pressed;
      border-color: $bg-color-primary-pressed;
    }
  }

  &.secondary {
    // Styles for secondary style
    color: $color-secondary;
    background-color: $bg-color-secondary;
    border-color: $bg-color-secondary;

    &:hover {
      color: $color-secondary-hover;
      background-color: $bg-color-secondary-hover;
      border-color: $bg-color-secondary-hover;
    }

    &:focus {
      color: $color-secondary-pressed;
      background-color: $bg-color-secondary-pressed;
      border-color: $bg-color-secondary-pressed;
    }

    &:active {
      color: $color-secondary-pressed;
      background-color: $bg-color-secondary-pressed;
      border-color: $bg-color-secondary-pressed;
    }
  }

  &.fiat {
    // Styles for fiat style
    color: $color-fiat;
    background-color: $bg-color-fiat;
    border-color: $bg-color-fiat;

    &:hover {
      color: $color-fiat-hover;
      background-color: $bg-color-fiat-hover;
      border-color: $bg-color-fiat-hover;
    }

    &:focus {
      color: $color-fiat-pressed;
      background-color: $bg-color-fiat-pressed;
      border-color: $bg-color-fiat-pressed;
    }

    &:active {
      color: $color-fiat-pressed;
      background-color: $bg-color-fiat-pressed;
      border-color: $bg-color-fiat-pressed;
    }
  }

  &.disabled {
    // Styles for disabled state
    cursor: not-allowed;
    opacity: 0.48;
  }

  &.small {
    // Styles for small size
    padding: 5px 15px;
    border-radius: 20px;
  }
  &.small.rounded {
    // Styles for small size rounded
    padding: 5px;
  }

  &.medium {
    // Styles for medium size
    padding: 10px 20px;
    border-radius: 50px;
  }

  &.medium.rounded {
    // Styles for small size rounded
    padding: 10px;
  }

  &.large {
    // Styles for large size
    padding: 14px 24px;
    border-radius: 30px;
    .button-text {
      // Styles for the button text when large
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &.large.rounded {
    // Styles for small size rounded
    padding: 14px;
  }

  .button-icon {
    // Styles for the button icon
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .button-image {
    object-fit: contain;
  }

  .button-text {
    // Styles for the button text
    @include font-styles($noto-sans-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

// Дополнительнные стили (extraClass) нужно прописывать в стилях компонента, в котором используется компонент из UI
