@import '../../styles/consts.scss';

// Button primary
$color-primary: #f0b216;
$color-primary-hover: #f9c136;
$color-primary-pressed: #f0b216;

$bg-color-primary: #303360;
$bg-color-primary-hover: #4a4e92;
$bg-color-primary-pressed: #393f97;

// Button secondary
$color-secondary: #303360;
$color-secondary-hover: #4a4e92;
$color-secondary-pressed: #303360;

$bg-color-secondary: #eaebf5;
$bg-color-secondary-hover: #dcdefb;
$bg-color-secondary-pressed: #babeff;

// Button fiat
$color-fiat: #303360;
$color-fiat-hover: #4a4e92;
$color-fiat-pressed: #303360;

$bg-color-fiat: #fff;
$bg-color-fiat-hover: #fff;
$bg-color-fiat-pressed: #f4f4f4;

.button {
  // Common button styles
  max-width: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  transition: all 0.5s;

  &.rounded {
    // Styles for rounded button
    width: fit-content;
  }

  &.primary {
    // Styles for primary style
    color: $color-primary;
    background-color: $bg-color-primary;

    .button-icon {
      // Styles for the button icon
      background-image: url('../../Images/icons/btn-primary-icon.svg');
    }

    &:hover {
      color: $color-primary-hover;
      background-color: $bg-color-primary-hover;
    }

    &:focus {
      color: $color-primary-pressed;
      background-color: $bg-color-primary-pressed;
    }

    &:active {
      color: $color-primary-pressed;
      background-color: $bg-color-primary-pressed;
    }
  }

  &.secondary {
    // Styles for secondary style
    color: $color-secondary;
    background-color: $bg-color-secondary;

    .button-icon {
      // Styles for the button icon
      background-image: url('../../Images/icons/btn-secondary-icon.svg');
    }

    &:hover {
      color: $color-secondary-hover;
      background-color: $bg-color-secondary-hover;
    }

    &:focus {
      color: $color-secondary-pressed;
      background-color: $bg-color-secondary-pressed;
    }

    &:active {
      color: $color-secondary-pressed;
      background-color: $bg-color-secondary-pressed;
    }
  }

  &.fiat {
    // Styles for fiat style
    color: $color-fiat;
    background-color: $bg-color-fiat;

    .button-icon {
      // Styles for the button icon
      background-image: url('../../Images/icons/btn-fiat-icon.svg');
    }

    &:hover {
      color: $color-fiat-hover;
      background-color: $bg-color-fiat-hover;
    }

    &:focus {
      color: $color-fiat-pressed;
      background-color: $bg-color-fiat-pressed;
    }

    &:active {
      color: $color-fiat-pressed;
      background-color: $bg-color-fiat-pressed;
    }
  }

  &.disabled {
    // Styles for disabled state
    cursor: not-allowed;
    opacity: 0.48;
  }

  &.small {
    // Styles for small size
    padding: 5px 15px;
    border-radius: 20px;
  }
  &.small.rounded {
    // Styles for small size rounded
    padding: 5px;
  }

  &.medium {
    // Styles for medium size
    padding: 10px 20px;
    border-radius: 20px;
  }

  &.medium.rounded {
    // Styles for small size rounded
    padding: 10px;
  }

  &.large {
    // Styles for large size
    padding: 14px 24px;
    border-radius: 30px;
  }

  &.large.rounded {
    // Styles for small size rounded
    padding: 14px;
  }

  .button-icon {
    // Styles for the button icon
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .button-text {
    // Styles for the button text
    @include text-medium-web;
  }
}
