.timeinterval-select {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 376px;
  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
