@import '../../styles/consts.scss';

.user-finance {
  position: relative;
  padding: 21px 24px 33px 24px;
  width: 100%;
  height: 128px;
  background-color: $blueishGrey;
  border-radius: 20px;
  display: grid;
  gap: 12px;

  &__title {
    @include h3-web;
    color: $black;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background: url('../../Images/rub.svg') no-repeat center / contain;
      width: 28px;
      height: 28px;
    }
  }

  &__selected-content {
    position: relative;
  }

  &__selected {
    @include text-medium-web;
    display: flex;
    align-items: center;

    &--open {
      .user-finance__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url('../../Images/chevron-down.svg') no-repeat center / contain;
    transform: rotate(0deg);
  }

  &__icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }
}
