@import '../../styles/consts.scss';

.account-select__list {
  position: absolute;
  top: 111px;
  left: 0;
  z-index: 1;
  width: 376px;
  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.custom-select__list_hidden {
  display: none;
}

.account-select__list-title {
  @include text-medium-web;
  margin-bottom: 5px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d2d5db;
}

.button__account {
  margin-top: 12px;
  width: 100%;
  justify-content: center;
}
