@import '../../styles/consts.scss';

.budget {
  display: flex;
  padding: 60px 160px;
  flex-grow: 1;
  gap: 32px;
}

.budget__spending {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  max-width: 920px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 24px;
}

.budget__filtration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: #f4f4f4;
  border-radius: 16px;
  height: fit-content;
}

.budget__filtration-wrapper {
  display: flex;
  gap: 12px;
}

.budget__select {
  border: 1px solid #303360;
  border-radius: 50px;

  position: relative;

  width: 100%;
  max-width: fit-content;
}

.budget__select-fieldset_open {
  background-color: #13164a;

  .budget__select-fieldset {
    opacity: 1;
    width: max-content;
    height: fit-content;
    display: block;
    visibility: visible;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .budget__select-button {
    color: #ffbb10;
    background-image: url(../../Images/chevron-up-ic-24.svg);
  }
}

.budget__select-button {
  @include text-small-web;
  color: #1e1d24;
  border-radius: 50px;

  padding: 4px 36px 4px 16px;
  background-image: url(../../Images/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: calc(100% - 4px);
  background-position-y: center;
}

.budget__select-fieldset {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;

  border: 1px solid #e5e5e5;
  border-radius: 16px;
  background-color: white;
  padding: 40px;
  max-width: 376px;
  transition: 0.2s linear;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.budget__select-option {
  width: 100%;
}

.budget__filtration-button {
  @include text-small-web;
  color: #1e1d24;
  border: 1px solid #303360;
  border-radius: 50px;
  padding: 4px 16px;
}

.budget__button-wrapper {
  display: flex;
  gap: 32px;
}

.budget__add-button {
  @include text-medium-web;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  color: #303360;
  background-color: #eaebf5;
}

.budget__add-button::before {
  content: '';
  background-image: url(../../Images/add__5.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
