@import '../../styles/consts.scss';

.budget {
  display: flex;
  padding: 60px 160px;
  flex-grow: 1;
  gap: 32px;
}

.budget__spending {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  max-width: 920px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.budget__spending-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.budget__button-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 395px;
  gap: 9px;
}

.budget__add-button {
  @include text-medium-web;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  color: #f0b216;
  background-color: #303360;
}

.budget__add-button::before {
  content: '';
  background-image: url(../../Images/add__5.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  vertical-align: middle;
}
