@import '../../styles/consts.scss';

.data-picker {
  @include h3-web;
  margin-bottom: 5px;
  display: none;
}

.data-picker__time {
  padding: 10px;
  border: 0.5px solid $black;
  width: 96px;
  height: 34px;
  border-radius: 10px;
}
