@import '../../styles/consts.scss';

.budget-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: #f4f4f4;
  border-radius: 16px;
  height: fit-content;
}

.budget-filter__wrapper {
  display: flex;
  gap: 12px;
}

.budget-filter__select {
  position: relative;
}

.budget-filter__select-button {
  @include text-small-web;
  border: 1px solid #303360;
  color: #1e1d24;
  border-radius: 50px;
  padding: 4px 36px 4px 16px;
  background-image: url(../../Images/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: calc(100% - 11px);
  background-position-y: center;
  transition: 0.2s ease-in;
}

.budget-filter__select-button--open {
  background-color: #13164a;
  color: #ffbb10;
  background-image: url(../../Images/chevron-up.svg);
}

.budget-filter__date-button {
  @include text-small-web;
  color: #1e1d24;
  border: 1px solid #303360;
  border-radius: 50px;
  padding: 4px 16px;
  position: relative;
}

.budget-filter__date-button--open {
  background-color: #13164a;
  color: #ffbb10;
}

.budget-filter__button-wrapper {
  display: flex;
  gap: 32px;
}

.budget-filter__calendar-block {
  position: relative;
}

.budget-filter__calendar-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 376px;
  background: #ffffff;
  border-radius: 16px;
}
