@import '../../styles/consts.scss';

.tab {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 36px;

  &:hover {
    color: $black;
  }

  &.tab_type_current {
    background-color: $clearWhite;
    box-shadow: 1px 2px 6px rgba(140, 141, 145, 0.2);
    border-radius: 12px;
    pointer-events: none;
  }

  .text {
    @include text-medium-web;
  }

  .text_type_main-default {
    // Стили для основного текста
  }
}

.tab-size_xs {
  width: 77px;
}

.tab-size_m {
  width: 113px;
}

.tab-size_l {
  width: 168px;
}
