@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';

// добавить шрифты через font

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// перенести стили в отдельную папку

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  max-width: 1920px;
  min-width: 320px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
