@import '../../styles/consts.scss';

.div {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  height: 76px;
  padding: 0 160px;
  background: #ffffff;
}

.header__content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
}

.header__home-button,
.header__menu-link {
  @include text-medium-web;
  color: #303360;
}

.header__menu-link_active {
  @include text-medium-web-bold;
  color: #303360;
}

.header__menu-link:hover {
  color: #4a4e92;
}

.header__profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
