.header {
  display: flex;
  align-items: center;
  height: 76px;
  padding: 0 160px;
}

.header__home-menu,
.header__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__home-links {
  width: 459px;
  display: flex;
  gap: 66px;
}

.header__menu-list {
  width: 463px;
  display: flex;
  justify-content: space-between;
  gap: 91px;
}

.header__buttons {
  display: flex;
}

.header__home-link,
.header__home-button,
.header__menu-link {
  font-family: 'NotoSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #303360;
}

.header__button-login {
  width: 89px;
  height: 44px;
}

.header__button-registration {
  font-family: 'NotoSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 140px;
  height: 44px;
  background: #303360;
  border-radius: 20px;
  color: #f0b216;
}

.header__profile-link {
  padding: 10px;
  background: #303360;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.header__profile-icon {
  width: 20px;
  height: 20px;
  background: transparent;
}
