@import '../../styles/consts.scss';
@import '../../styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  min-height: fit-content;
  padding: 25px 160px;
  background: $clearWhite;
  position: relative;
}

.header-login {
  padding: 12px 160px;
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  gap: 24px;
}

.header__home-button,
.header__menu-link {
  @include text-medium-web;
  color: $heavyBlue;
}

.header__menu-link_active {
  @include text-medium-web-bold;
  color: $heavyBlue;
}

.header__menu-link:hover {
  color: $blueHover;
}

.header__profile-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
}
