@import '../../styles/consts.scss';

$max-width-s: 512px;
$max-width-m: 784px;

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $clearWhite;
  border: 1px solid $lightGrey;
  border-radius: 16px;
  padding: 40px;
  width: 100%;

  .popup__title {
    @include h3-web;
    margin-bottom: 32px;
  }

  .popup__subtitle {
    @include text-small-web;
    color: $black;
    margin-bottom: 24px;
  }
}

.popup__close {
  background-image: url(../../Images/close.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
}

// плавность
.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
///////

// в одну колонку инпутов
.popup_s {
  max-width: $max-width-s;

  .form__input-block {
    max-width: 432px;
  }
}

// в две колонки инпутов
.popup_m {
  max-width: $max-width-m;

  .form {
    gap: 32px 67px;
  }
}

// информационный
.popup_info {
  max-width: $max-width-s;

  .popup__title {
    text-align: center;
    margin-bottom: 24px;
  }

  .popup__subtitle {
    text-align: center;
    @include text-large-web;
  }

  .button {
    margin: 32px auto 0 auto;
  }
}

// изменение аватара
.popup_avatar {
  max-width: $max-width-s;

  .popup__title {
    margin-bottom: 8px;
  }

  .popup__subtitle {
    color: $grey;
  }
}

// изменение пароля
.popup_password {
  max-width: $max-width-s;

  .form__input-block {
    max-width: 432px;
  }

  .popup__subtitle {
    @include text-medium-web;
    color: $grey;
  }
}

// редактирование операции
.popup_edit-operation {
  max-width: $max-width-s;

  .form__input-block {
    max-width: 432px;
  }

  .popup__title {
    margin-bottom: 8px;
  }
}

// редактирование конверта
.popup_edit-moneybox {
  max-width: $max-width-m;

  .form {
    margin-top: 24px;
    gap: 13px 32px;
  }

  .form__input-block {
    width: 100%;
    max-width: calc((100% - 32px) / 2);
  }

  .popup__title {
    margin-bottom: 8px;
  }

  .popup__subtitle {
    margin-bottom: 0px;
  }
}

// цель достигнута
.popup_done {
  max-width: $max-width-s;

  .popup__title {
    margin-bottom: 8px;
  }

  .popup__subtitle {
    margin-bottom: 0px;
  }
}

// повторяющиеся расходы
.popup_repeat {
  max-width: $max-width-m;

  .popup__title {
    margin-bottom: 24px;
  }

  .form {
    gap: 12px 32px;

    &__input-block {
      width: 100%;
      max-width: calc((100% - 32px) / 2);
    }

    &__text-content {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }

    &__text-bold {
      margin-top: 12px;
      @include text-medium-web-bold;
    }

    &__text {
      @include text-small-web;
    }
  }
}

// перевод
.popup_transfer {
  max-width: $max-width-s;

  .popup__title {
    margin-bottom: 24px;
  }

  .form {
    gap: 13px;

    .form__button-wrapper {
      margin-top: 20px;
    }
  }
}

// добавить счет
.popup_add {
  max-width: $max-width-m;
}
