// .popup {
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;

//   display: flex;
//   justify-content: center;
//   align-items: center;a
//   flex-wrap: wrap;

//   transition: visibility 0s, opacity 0.5s ease;

//   visibility: hidden;
//   opacity: 0;
// }

// .popup_open {
//   visibility: visible;
//   opacity: 1;
// }

// .popup::after {
//   content: '';
//   position: fixed;
//   background-color: black;
//   opacity: 0.5;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

// .popup__wrapper {
//   position: fixed;
//   z-index: 2;

//   display: flex;
//   justify-content: center;
//   background-color: white;
//   border: 1px solid #e5e5e5;
//   border-radius: 16px;
//   padding: 30px;
//   box-sizing: border-box;

//   max-width: 400px;
//   min-width: 380px;
//   width: 100%;

//   // to show popup skroll if height is not enough
//   max-height: 100vh;
//   overflow-y: auto;
// }

// // hide default scrollbar to customize
// .popup__wrapper::-webkit-scrollbar {
//   display: none;
// }

// .popup__close {
//   cursor: pointer;
//   border: none;
//   background-color: inherit;
//   padding: 0;

//   background-image: url(../../Images/x.svg);
//   height: 40px;
//   width: 40px;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 20px;

//   position: absolute;
//   top: 0;
//   right: 0;
// }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 7;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 30px;

  max-width: 400px;
  min-width: 380px;
  width: 100%;

  // to show popup skroll if height is not enough
  max-height: 100vh;
  overflow-y: auto;
}

// hide default scrollbar to customize
.popup::-webkit-scrollbar {
  display: none;
}

.popup__close {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;

  background-image: url(../../Images/x.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  position: absolute;
  top: 0;
  right: 0;
}
