.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  transition: visibility 0s, opacity 0.5s ease;

  visibility: hidden;
  opacity: 0;
}

.popup_open {
  visibility: visible;
  opacity: 1;
}

.popup::after {
  content: '';
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup__wrapper {
  position: fixed;
  z-index: 2;

  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 40px;
  box-sizing: border-box;
  max-width: 400px;
  min-width: 380px;
  width: 100%;

  // to show popup skroll if height is not enough
  max-height: 100vh;
  overflow-y: auto;
}

// hide default scrollbar to customize
.popup__wrapper::-webkit-scrollbar {
  display: none;
}

.popup__close {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;

  background-image: url(../../Images/x.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  position: absolute;
  top: 0;
  right: 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__header {
  font-family: 'Manrope', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin: 0 0 32px;
  width: 100%;
}

.form__button {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}

.form__button_reset {
  color: #2c2d2e;
  background-color: rgba(0, 16, 61, 0.06);
  max-width: 50%;
}

.form__button_reset:disabled {
  background: rgba(0, 16, 61, 0.06);
  opacity: 0.48;
  cursor: not-allowed;
}

.form__button_submit {
  color: white;
  background-color: #000000;
  max-width: 50%;
  margin-left: auto;
}

.form__button_submit:disabled {
  opacity: 0.48;
  cursor: not-allowed;
}
