@import '../../styles/consts.scss';

.moneybox-item {
  padding: 8px;
}

.moneybox-item:hover {
  background-color: #dcdefb;
  border-radius: 12px;
}

.moneybox-item__content {
  @include text-medium-web;
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 100%;

  > :first-child {
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.moneybox-item__target {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  flex-shrink: 0;
}

.moneybox-item__target::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../Images/rub.svg');
  background-size: cover;
}
