@import '../../styles/consts.scss';

.statistic {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  grid-template-rows: 400px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 4% 0px;
  flex-wrap: wrap;
}
.statistic__chart-block {
  max-width: 1280px;
}
.statistic__block {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-bottom: 8%;
}

.statistic__block_round {
  grid-column: span 2;
  margin-bottom: 14%;
}

.statistic__overview {
  max-width: 376px;
  width: 100%;
}

.statistic__periods {
  grid-column: span 3;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
}


.statistic__text {
  @include text-large-web;
  color: #1e1d24;
  width: 100%;
}

.statistic__header {
  @include text-large-web-bold;
  color: #1e1d24;
  width: 100%;
}

.statistic__filtration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 16px;
  height: fit-content;
}
