@import '../../styles/consts.scss';
@import '../../styles/colors.scss';

.card {
  width: 100%;
  border: 1px solid $clearWhite;
  padding: 13px 8px;
  border-radius: 12px;
  display: flex;
  gap: 20px;
}

.card__block {
  width: 100%;
  max-width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card__button-block {
  gap: 8px;
}

.card__category {
  padding: 8px;
  width: 36px;
  height: 36px;
  background-color: $lightGrey;
  border-radius: 8px;
}

.card__header {
  @include text-medium-web-bold;
  display: inline-grid;
}

.card__text {
  @include text-small-web;
}

.card__bank-img {
  width: 24px;
  height: 24px;
}

.card__amount {
  @include text-medium-web;
}

.card__amount_spending {
  color: $spendRed;
}

.card__amount_earn {
  color: $incomeGreen;
}

.card__button {
  width: 20px;
  height: 20px;
  background-color: $midGrey;
  border-radius: 50%;
}

.card__button:hover {
  opacity: 0.5;
}

.card {
  &:hover {
    .card__button {
      background: transparent url('../../Images/dropdawn.svg') center / 20px no-repeat;
      width: 40px;
      height: 40px;
      padding: 10px;
      border-radius: 0;
    }

    .card__button_edit {
      background-image: url(../../Images/edit.svg);
    }

    .card__button_delete {
      background-image: url(../../Images/delete.svg);
    }

    .card__button_copy {
      background-image: url(../../Images/copy.svg);
    }
  }
}
