.profile-tooltip {
  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 16px;
  width: 376px;
  height: 196px;
  padding: 40px;
  display: grid;
  gap: 32px;
  position: absolute;
  top: 64px;
  left: 1385px;
  z-index: 1;
}

.profile-tooltip__user-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-tooltip__user-icon {
  margin-right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.profile-tooltip__user-name {
  margin-right: 63px;
}
