@import '../../styles/consts.scss';

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-balance,
  &-target {
    @include text-medium-web;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background: url('../../Images/rub.svg') no-repeat;
      background-size: contain;
      width: 16px;
      height: 16px;
    }
  }
}
