@import '../../../styles/consts.scss';

.card {
  width: 100%;
  border: 1px solid $lightGrey;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(4, 217px);

  &__block {
    padding: 13px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

    &:first-child {
      padding-left: 8px;
      justify-content: flex-start;
    }

    &:nth-child(2) {
      padding-left: 56px;
      justify-content: flex-start;
    }
  }

  &__button-block {
    gap: 8px;
  }

  &__category {
    width: 36px;
    height: 36px;
  }

  &__header {
    @include text-medium-web-bold;
    display: inline-grid;
  }

  &__text {
    @include text-small-web;
  }

  &__bank-img {
    width: 24px;
    height: 24px;
  }

  &__amount {
    @include text-medium-web;

    &_spending {
      color: $spendRed;
    }

    &_earn {
      color: $incomeGreen;
    }
  }

  &__button {
    width: 20px;
    height: 20px;
    background-color: $midGrey;
    border-radius: 50%;

    &:hover {
      opacity: 0.5;
    }
  }
}

.card {
  &:hover {
    .card__button {
      background: transparent url('../../../Images/dropdawn.svg') center / 20px no-repeat;
      width: 40px;
      height: 40px;
      padding: 10px;
      border-radius: 0;
    }

    .card__button_edit {
      background-image: url(../../../Images/edit.svg);
    }

    .card__button_delete {
      background-image: url(../../../Images/delete.svg);
    }

    .card__button_copy {
      background-image: url(../../../Images/copy.svg);
    }
  }
}
