name: Develop workflow

concurrency:
  group: develop_deploy
  cancel-in-progress: true

on:
  push:
    branches: 
      - develop

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-20.04    
    services:
      postgres:
        image: postgres:14.0
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: family_budget
        ports:
          - 5432:5432        
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 
      uses: actions/setup-python@v2
      with:
        python-version: 3.10

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r backend/requirements.txt 

    - name: Run migrations
      run: python backend/manage.py migrate

    - name: Test Pytest
      run: |
        python -m pytest

  build_and_push_to_docker_hub:
      name: Push Docker image to Docker Hub
      runs-on: ubuntu-20.04
      needs: tests
      steps:
        - name: Check out the repo
          uses: actions/checkout@v2 
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1 
        - name: Login to Docker
          uses: docker/login-action@v1 
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
        - name: Push to Docker Hub
          uses: docker/build-push-action@v2          
          with:
            context: ./backend
            push: true
            tags: ${{ secrets.DEVELOP_BACKEND_IMAGE }}

  deploy:
    name: Deploy
    runs-on: ubuntu-20.04
    needs: build_and_push_to_docker_hub    
    steps:
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |            
            echo ALLOWED_HOSTS=${{ secrets.ALLOWED_HOSTS }} > .env
            echo DB_ENGINE=${{ secrets.DB_ENGINE }} >> .env
            echo DB_NAME=${{ secrets.DEVELOP_DB_NAME }} >> .env
            echo POSTGRES_USER=${{ secrets.DEVELOP_POSTGRES_USER }} >> .env
            echo POSTGRES_PASSWORD=${{ secrets.DEVELOP_POSTGRES_PASSWORD }} >> .env
            echo DB_HOST=${{ secrets.DEVELOP_DB_HOST }} >> .env
            echo DB_PORT=${{ secrets.DEVELOP_DB_PORT }} >> .env
            sudo docker pull ${{ secrets.DEVELOP_BACKEND_IMAGE }}
            sudo docker-compose stop
            sudo docker rm ${{ secrets.DEVELOP_BACKEND_CONTAINER_NAME }}
            sudo docker-compose up -d
            sudo docker image prune -a -f
  
  send_message:
      name: Send message telegram
      runs-on: ubuntu-20.04
      needs: deploy
      steps:
      - name: send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: ${{ github.workflow }} - размещение тестового релиза успешно выполнено!!!
